:root {
    color-scheme: dark light;
    --electric-indigo-color: hsl(265, 100%, 46%);
    --dark-torquoise-color: hsl(174, 97%, 43%);
    --scarlet-color: hsl(349, 100%, 35%);
    --orange-peel-color: hsl(36, 100%, 50%);
    --dark-pastel-green-color: hsl(122, 39%, 49%);
    --rock-blue-color: hsl(216, 32%, 71%);
    --dark-color: hsl(213, 41%, 14%);
    --almost-black-color: hsl(213, 41%, 9%);
    --white-smoke-color: hsl(0, 0%, 96%);
    --primary-color: var(--almost-black-color);
    --secondary-color: var(--white-smoke-color);
    --primary-accent-color: var(--rock-blue-color);
    --secondary-accent-color: var(--dark-color);
}

@media (prefers-color-scheme: dark) {
    :root {
        color-scheme: dark;
        --primary-color: var(--almost-black-color);
        --primary-accent-color: var(--rock-blue-color);
        --secondary-accent-color: var(--white-smoke-color);
    }
}

@media (prefers-color-scheme: light) {
    :root {
        color-scheme: light;
        --primary-color: var(--white-smoke-color);
        --secondary-color: var(--almost-black-color);
        --primary-accent-color: var(--rock-blue-color);
        --secondary-accent-color: var(--almost-black-color);
    }
}