@import "tailwindcss";
@import "@nuxt/ui";

@theme {
  --text-tiny: 0.675rem; 
}

:root {
  --ui-primary: hsl(210, 100%, 35%);
  --ui-bg: hsl(0, 0%, 90%);
  --ui-border: hsl(0, 0%, 75%);
  --ui-text-muted: var(--ui-color-neutral-600);

  --card-shadow-color: hsl(from var(--ui-bg) h s 84%);
  --card-light-color: hsl(from var(--ui-bg) h s 96%);
}

.dark {
  --ui-primary: hsl(210, 70%, 56%);
  --ui-bg: hsl(210, 40%, 10%);
  --ui-border: hsl(210, 40%, 25%);
  --ui-text-muted: var(--ui-color-neutral-300);

  --card-shadow-color: hsl(from var(--ui-bg) h s 4%);
  --card-light-color: hsl(from var(--ui-bg) h s 16%);
}